<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="/scufftube_logo.png" type="image/x-icon">
</head>
<body id="error-body">
    <span id="errorPagecontent">
        <img src="https://www.gstatic.com/youtube/src/web/htdocs/img/monkey.png">
        <p>This page isn't available. Sorry about that.</p>
        <p>Try searching for something else.</p>
        <span id="branding">
            <a href="/">
            <img src="/scuffTube.png">
            </a>
        </span>
    </span>
</body>
</html>