<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/styles/account.css">
    <link rel="shortcut icon" type="image/x-icon" href="/Macrosoft-logo.png">
</head>
<body>
    <div id="signIn-wrapper">
        <div id="macrosoft"><img src="/Macrosoft.png"></div>
        <div class="text">Password Reset</div>
        <div id="emailContainer">
            <fieldset>
                <legend>Enter your username</legend>
                <input type="text" id="email-input" class="input-feilds">
            </fieldset>
            <ul id="emailError" class="prompts">
                
            </ul>
            <div id="emailPrompt"><span>Forgot email?</span></div>
            <div id="testNumber" style="display: none;">
                <div id="phoneNum-container">
                    <select id="countryCodeSelect" class="UpdateValue">
                        <option value="" selected>Pick your country code</option>
                        <% for (i in countryCodesObj) { %>
                            <option value="<%= countryCodesObj[i] %>"><%=`${i} (${countryCodesObj[i]})`%></option>
                        <% } %>
                    </select>
                    <input type="text" id="phoneNum" maxlength="12" placeholder="Enter your phone number"
                    style="border: hsla(0, 0%, 52%) solid 0.1rem;" class="UpdateValue"
                    onfocus="this.style.border = '#3ea6ff solid 0.1rem' "
                    onblur="this.style.border = 'hsla(0, 0%, 52%) solid 0.1rem' ">
                </div>
                <span class="label-extraDetails">Your phone number</span><br>
                <ul id="phoneNumPrompt" class="prompts">

                </ul>
            </div>
            <div id="securityQA-authentication" style="display: none;">
                <fieldset>
                    <legend id="security_question"></legend>
                    <input type="text" id="security_answer" class="UpdateValue updateInput input-feilds">
                </fieldset>
                <ul id="securityQAPrompts" class="prompts">

                </ul>
            </div>
            <div id="ResetPassword" style="display: none;">
                <fieldset>
                    <legend>Password</legend>
                    <input type="password" class="input-feildsCreate input-feilds" id="Createpassword">
                </fieldset>
                <fieldset style="margin-bottom: 0.35rem;">
                    <legend>Confirm password</legend>
                    <input type="password" class="input-feildsCreate input-feilds" id="confirm-password">
                </fieldset>
                <div>
                    <input type="checkbox">Show password
                </div>
            </div>
            <ul id="PasswordPrompts" class="prompts">

            </ul>
        </div>
        <div id="nextContainer">
            <button id="next-username" class="next" style="width: 100%;">Next</button>
            <button id="next-password" class="next" style="width: 100%;">Next</button>
            <button id="next-account" class="next" style="width: 100%;display: none;">Reset Password</button>
        </div>
    </div>
    
    <%- include('./partials/forgot_script_password.ejs') %>
</body>
</html>