<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macrosoft</title>
    <link rel="shortcut icon" type="image/x-icon" href="/Macrosoft-logo.png">
    <link rel="stylesheet" href="/styles/overview.css">
</head>
<body>
    <header id="head">
        <img src="/Macrosoft.png">
    </header>
    <section id="slogan">
        <h1 style="font-size: 3rem;-webkit-text-stroke: 1px black;">We are GAFAM.</h1>
    </section>
    <article id="article">
        <div style="text-align: center;">
            <strong>Copyright &#169 2006-present Macrosoft inc. by some guy. All rights reserved</strong>
        </div>
        <br>
        <div id="gafam">
            <span class="gafamAbbr"><span style="color: red;">G</span>oogle</span>
            <span class="gafamAbbr"><span style="color: red;">A</span>pple</span>
            <span class="gafamAbbr"><span style="color: red;">F</span>acebook</span>
            <span class="gafamAbbr"><span style="color: red;">A</span>mazon</span>
            <span class="gafamAbbr"><span style="color: red;">M</span>icrosoft</span>
        </div>
        <br><br>
        <p style="
        margin: 0 auto;
        width: 90%;
        font-size: 1.2rem;
        line-height: 1.75rem;
        font-weight: bold;
        "><cite>
        Nothing is new under the sun. No idea's original, there's nothing new under the sun.
        It's never what you do, but how it's done.
        </cite></p>
        <br><br>
        <h2 style= "margin: 0 auto;
        width: 90%;">The Macrosoft Initiative</h2>
        <br>
        <blockquote style="
        margin: 0 auto;
        width: 90%;
        font-size: 1.1rem;
        line-height: 1.75rem;
        ">
            There was an idea, Turing sought it, called the Macrosoft Initiative. 
            The idea was to play as a group of successful tech industries, to see if they 
            could decieve and grow in clout and stonks. See if they could rip off original ideas when we needed them,
            to grow and to overcome the original companies.
        </blockquote>
    </article>
    <br>
    <h2 style="
    margin: 0 auto;
    width: 90%;
    line-height: 1.75rem;
    ">Apps</h1>
    <section id="appsContainer">
        <div>
            <div class="apps">
                <a href="/scufftube">
                    <img id="scufftubeAppImg" src="/scufftube_logo.png">
                </a>
            </div>
            <div style="text-align: center;">Scufftube</div>
        </div>
        <div>
            <div class="apps">
                <a href="/macrosoft/todo">
                    <img src="/todoLogo.png">
                </a>
            </div>
            <div style="text-align: center;">Todo</div>
        </div>
        <div>
            <div class="apps">
                <a href="/macrosoft/calc">
                    <img src="/calcLogo.png">
                </a>
            </div>
            <div style="text-align: center;">Calc</div>
        </div>
    </section>
    <section id="account">
        <h1 style="text-align: center;padding-bottom: 2rem;">Macrosoft Account</h1>
        <p style="
        width: 90%;
        margin: 0 auto;
        line-height: 1.45rem;
        font-size: 1.15rem;
        ">A macrosoft account gives you access to macrosoft todo, scufftube channel and future macrosoft apps.
        A scufftube channel allows a user to upload and delete their videos. Macrosoft account separate
        other user activities from yours. Creation and ownership of a macrosoft account is completly
        free and seems safe to users.</p>
        <br>
        <div style="text-align: center;">
            <div id="createAccount" class="accountButton"><a href="/signup">Create Account</a></div>
            <h3>OR</h3>
            <div id="createAccount" class="accountButton"><a href="/signin">Sign In</a></div>
        </div>
    </section>
</body>
</html>